dotenv
typing
playwright
bs4
beautifulsoup4
requests
langchain
langchain-core
langchain-community
langchain-openai
sentence_transformers
langchain-pinecone
pinecone
fastapi
uvicorn
pydantic
streamlit
loguru